<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <fieldset>
    <legend>现在就加入Tomato<legend>
    <br />
    <div  class="control-group">
      <%=f.label :name, class:"control-label" do%> 
        <abbr class="required">*</abbr>
        用户名<br />
      <%end%>
      <div class="controls">
        <%= f.text_field :name, :autofocus => true , :placeholder => "用户名"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, class: "control-label" do%>
        <abbr class="required">*</abbr>
        邮箱<br />
      <%end%>
      <div class="controls">
        <%= f.email_field :email, :autofocus => true, :placeholder => "邮箱地址" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password,  class: "control-label" do %>
        <abbr class="required">*</abbr>
        密码<br />
      <% end %>
      <div class="controls">
        <%= f.password_field :password, :placeholder => "必须 8 位以上字母和数字" %>
      </div>
      
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, class: 'control-label' do %>
        <abbr class="required">*</abbr>
        再次输入密码 
      <% end %>
      <div class="controls">
      <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="form-actions">
    <%= f.submit "创建我的帐号",class: 'btn btn-small btn-primary', data: {disable_with: "可能需要1～2分钟"} %>
    </div>
    </fieldset>
<% end %>

<%= render "devise/shared/links" %>

