<footer class="footer">
	<div class="container">
		<div>
			<div class="pull-left">
				<%= image_tag "favicon.ico", alt: 'Microsoft Blog'%>
			</div>
			<p class="links">
				<%= link_to "关于作者", '#' %> | 
				<%= link_to "贡献者", '#' %> | 
				<%= link_to "反馈", '#' %> | 
				<%= link_to "微博", '#' %> | 
				<%= link_to "西湖论坛", '#' %> | 
				<%= link_to "惠大论坛", '#' %> | 
			</p>
			<p class="copyright">
			</p>
		<div>
	</div>
</footer>
